*.aux
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.log
*.out
*.pdf
*.synctex.gz
*.toc
*.lot
*.lof
*.lol
!flowchart.pdf
*.run.xml
*.bcf
.DS_Store
!AIR_DD_G27_ES.pdf
embeddings/*

!presentation/presentation.pdf
!report/document.pdf
!design-document/document.pdf
!presentation/AIR_SLIDES_G27.pdf
!report/AIR_REPORT_G27.pdf
